/* Fonts */

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  src: local("gilroyextrabold"), local("Gilroy Extra Bold"),
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  src: local("gilroylight"), local("Gilroy Light"),
    url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'),
    url("../fonts/opensanslight.woff2") format('woff2'),
    url("../fonts/opensanslight.woff") format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Light'), local('OpenSans-Light'),
    url("../fonts/opensans.woff2") format('woff2'),
    url("../fonts/opensans.woff") format('woff');
  font-display: swap;
}

/* Varibles */

:root {

  /* Colors */
  --basic-black: #000000;
  --basic-black-light: rgba(0, 0, 0, 0.3);
  --basic-white: #ffffff;
  --basic-white-light: rgba(255, 255, 255, 0.7);
  --basic-white-dark: rgba(255, 255, 255, 0.3);
  --basic-gray: #e5e5e5;
  --basic-gray-dark: #dcdcdc;
  --card-overlay: rgba(238, 238, 238, 0.7);
  --main-color: #f7e296;
  --special-color: #f0c52e;
  --special-green: #91c92f;
  --footer-color: #363636;
  --feedback-input: #f2f2f2;
  --pagination-button: #d9d9d9;
  --invalid: #f6dada;

  /* Fonts */
  --main-font: "Open Sans", Arial, Helvetica, sans-serif;
  --second-font: "Gilroy", Arial, Helvetica, sans-serif;
}

/* Global */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  color: var(--basic-black);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: none;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  overflow: hidden;
}

.button {
  position: relative;
  display: inline-block;
  padding: 9px 43px;
  border: none;
  background-color: transparent;
  font-family: var(--second-font);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
  cursor: pointer;
  z-index: 1;
}

.button::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: var(--special-color);
  z-index: -1;
}

.button::before {
  top: 15px;
}

.button:hover::before {
  transform: scaleY(5);
}

.button:active {
  color: var(--basic-black-light);
}

.button-active {
  color: var(--main-color);
}

/* HEADER */

/* Main-navigation */

.main-navigation {
  position: relative;
  margin-top: 40px;
  padding: 30px 60px 23px;
  background-color: var(--main-color);
}

.main-navigation-row {
  display: flex;
  align-items: center;
  margin-bottom: 31px;
}

.main-navigation-row:nth-of-type(2) {
  margin-bottom: 24px;
}

/* Logo */

.logo {
  position: absolute;
  top: -20px;
}

.logo[href]:hover,
.logo[href]:focus {
  opacity: 0.6;
}

.logo[href]:active {
  opacity: 0.3;
}

/* Search Form */

.search-form {
  position: relative;
  display: flex;
  width: 563px;
  min-height: 50px;
}

.search-form::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 17px;
  left: 0;
  background-image: url('../img/search-icon.svg');
  background-repeat: no-repeat;
}

.search-form-input {
  position: relative;
  width: 356px;
  padding-left: 38px;
  font: inherit;
  background-color: transparent;
  border: none;
  opacity: 0.3;
}

.search-form-input:hover {
  opacity: 0.6;
}

.search-form-input:focus {
  opacity: 1;
  border-bottom: 2px solid var(--basic-black);
}

.search-form-submit {
  display: none;
  padding: 14px 18px;
  font: inherit;
  line-height: 18px;
  border: 2px solid var(--basic-black);
  background-color: transparent;
  cursor: pointer;
}

.search-form-submit:hover,
.search-form-submit:focus {
  display: block;
  color: var(--basic-white);
  background-color: var(--basic-black);
}

.search-form-submit:active {
  color: var(--basic-white-dark);
  background-color: var(--basic-black);
}

.search-form:focus-within .search-form-submit{
  display: block;
}

.search-form:focus-within .search-form-input{
  border-bottom: 2px solid var(--basic-black);
  opacity: 1;
}

/* User nav wrapper */

.user-nav-wrapper {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

/* User nav */

.user-nav,
.site-actions {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-nav-item:not(:last-child) {
  margin-right: 20px;
}

.user-nav-link {
  color: var(--basic-black);
}

.user-icon {
  position: relative;
  padding-left: 24px;
}

.user-nav-link-logout {
  opacity: 0.3;
}

.user-icon::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 13px;
  height: 14px;
  background-image: url('../img/user-icon.svg');
  background-repeat: no-repeat;
}

.user-nav a:hover,
.user-nav a:focus {
  opacity: 0.6;
}

.user-nav a:active {
  opacity: 0.3;
}

/* Site actions */

.site-actions {
  width: 240px;
}

.site-actions-item {
  margin-right: 41px;
}

.site-actions-item:last-child {
  margin-right: 0;
}

.site-actions-item a {
  position: relative;
  padding-left: 24px;
}

.site-actions-item-compare::before,
.site-actions-item-cart::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  background-repeat: no-repeat;
}

.site-actions-item-compare::before {
  width: 14px;
  height: 14px;
  background-image: url('../img/compare-icon.svg');
}

.site-actions-item-cart::before {
  top: 5px;
  width: 10px;
  height: 10px;
  background-image: url('../img/cart-icon.svg');
}

.site-actions a {
  color: var(--basic-black);
}

.site-actions a:hover,
.site-actions a:focus {
  opacity: 0.6;
}

.site-actions a:active {
  opacity: 0.3;
}

/* Catalog menu */

.catalog-menu-wrapper {
  width: 563px;
}

.catalog-menu {
  font-family: var(--second-font);
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.2em;
  color: var(--basic-black);
}

.catalog-menu {
  position: relative;
  padding-right: 38px;
}

.catalog-menu::before {
  content: "";
  position: absolute;
  top: 3px;
  right: 6px;
  width: 16px;
  height: 16px;
  background-image: url('../img/plus-icon.svg');
  background-repeat: no-repeat;
  opacity: 0.3;
}

.catalog-menu:hover,
.catalog-menu:focus {
  opacity: 0.6;
}

.catalog-menu:active {
  opacity: 0.3;
}

/* Site nav */

.site-nav {
  display: flex;
  width: 50%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav-item {
  margin-right: 35px;
}

.site-nav-item:last-child {
  margin-left: auto;
  margin-right: -3px;
}

.site-nav a {
  font-family: var(--second-font);
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.2em;
  color: var(--basic-black);
}

.site-nav a:hover,
.site-nav a:focus {
  opacity: 0.6;
}

.site-nav a:active {
  opacity: 0.3;
}

/* Catalog nav */

.catalog-nav-wrapper {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  padding-left: 60px;
  z-index: 1;
  padding-bottom: 29px;
}

.catalog-nav-open {
  display: flex;
}

.catalog-nav-open::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  z-index: -1;
}

.catalog-nav {
  margin: 0;
  margin-right: 63px;
  padding: 0;
  list-style: none;
}

.catalog-nav-item {
  margin-bottom: 8px;
}

.catalog-nav a {
  line-height: 20px;
}

.catalog-nav a {
  color: var(--basic-black);
}

.catalog-nav a:hover,
.catalog-nav a:focus {
  opacity: 0.6;
}

.catalog-nav a:active {
  opacity: 0.3;
}

/* END HEADER */

/* MAIN */

/* Promo */

.promo-wrapper {
  position: relative;
}

.promo-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 144px;
  background-color: var(--main-color);
}

.slider-list {
  position: relative;
  display: flex;
  overflow-x: hidden;
  margin: 0;
  margin-top: -30px;
  margin-bottom: 102px;
  padding: 0;
  list-style: none;
  counter-reset: header-slider;
}

.slider-item {
  display: grid;
  grid-template-columns: 600px 560px;
  grid-template-areas:
    "photo content";
  grid-template-rows: auto;
  /* transform: translateX(-1160px); */
}

.slider-image-wrapper {
  grid-area: photo;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  padding-right: 40px;
}

.slider-item-content {
  position: relative;
  grid-area: content;
  padding-top: 110px;
}

.slider-item-content::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 7px;
  top: 49px;
  background-color: var(--basic-white);
}

.slider-item-content::after {
  content: counter(header-slider, decimal-leading-zero);
  counter-increment: header-slider;
  position: absolute;
  top: 0;
  right: 47px;
  font-family: var(--second-font);
  font-size: 180px;
  font-weight: 800;
  line-height: 215px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.slider-item-tagline {
  margin: 0;
  margin-bottom: 28px;
  font-family: var(--second-font);
  font-size: 47px;
  font-weight: 800;
  line-height: 1.2;
}

.slider-item-description {
  max-width: 480px;
  margin: 0;
  margin-bottom: 52px;
  line-height: 20px;
}

.slider-item-button {
  margin-bottom: 50px;
}

.slider-item-param {
  font-family: var(--second-font);
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
}

.slider-item-param tbody {
  display: flex;
  align-items: center;
}

.slider-item-param tr {
  display: flex;
  flex-direction: column-reverse;
  margin-right: 58px;
}

.slider-item-param td {
  margin-bottom: 11px;
}

.slider-item-param-header {
  margin-bottom: 0;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.08em;
}

/* Categories */

.categories-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 40px;
  margin: 0;
  margin-bottom: 69px;
  padding: 0;
  list-style: none;
}

.categories-item h3 {
  margin: 0;
}

.categories-list a {
  position: relative;
  display: block;
  padding-top: 198px;
  font-family: var(--second-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

.categories-list a.categories-item-fitnes {
  letter-spacing: 0;
}

.categories-list a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
  background-color: var(--main-color);
}

.categories-list a::after {
  content: "";
  position: absolute;
  top: 80px;
  left: 80px;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
}

.categories-list a:hover::before {
  background-color: var(--special-color);
}

.categories-list a:active::after {
  opacity: 0.3;
}

.categories-list a:active {
  color: var(--basic-black-light);
}

.categories-item-vr::after {
  width: 97px;
  height: 55px;
  background-image: url('../img/vr.svg');
}

.categories-item-monopod::after {
  width: 86px;
  height: 117px;
  background-image: url('../img/monopods.svg');
}

.categories-item-camera::after {
  width: 71px;
  height: 87px;
  background-image: url('../img/action-camera.svg');
}

.categories-item-fitnes::after {
  width: 107px;
  height: 65px;
  background-image: url('../img/fitnes-band.svg');
}

.categories-item-watch::after {
  width: 56px;
  height: 98px;
  background-image: url('../img/watch.svg');
}

.categories-item-quadrocopter::after {
  width: 132px;
  height: 69px;
  background-image: url('../img/quadrocopter.svg');
}

/* Services */
.services {
  position: relative;
  margin-bottom: 90px;
  padding-top: 14px;
  padding-bottom: 68px;
}

.services::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 288px;
  background-color: var(--basic-gray);
  z-index: -1;
}

.services-wrapper {
  display: grid;
  grid-template-columns: 284px 2fr;
}

.services-control,
.services-slider {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-control {
  position: relative;
  display: flex;
  flex-direction: column;
  grid-area: 1 / 1;
  min-height: 320px;
  padding-top: 81px;
}

.services-control::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 7px;
  background-color: var(--basic-black);
}

.services-control-item {
  margin-bottom: 22px;
}

.services-control-button {
  min-width: 160px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.services-control-button::after {
  content: "";
  position: absolute;
  z-index: -1;
}

.services-control-button-active:hover::before,
.services-control-button-active:focus::before,
.services-control-button:active::before,
.services-control-button-active::before {
  display: none;
}

.services-control-button-active:hover::after,
.services-control-button-active:focus::after {
  transform: translateX(120px);
}

.services-control-button-active,
.services-control-button:active {
  color: var(--main-color);
  background-color: var(--basic-black);
}

.services-control-button-active::after,
.services-control-button:active::after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateX(120px);
  height: 100%;
  background-color: var(--basic-black);
}

.services-slider {
  padding-left: 116px;
  padding-top: 71px;
  grid-area: 1 / 2;
}

.services-control a:active {
  color: var(--main-color);
}

.services-slider-item {
  position: relative;
}

.services-slider-item::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
}

.services-slider-item-delivery::before {
  top: 0;
  right: 2px;
  width: 136px;
  height: 164px;
  background-image: url('../img/delivery.svg');
}

.services-slider-item-warranty::before {
  top: -17px;
  right: -16px;
  width: 171px;
  height: 195px;
  background-image: url('../img/warranty.svg');
}

.services-slider-item-credit::before {
  top: -22px;
  right: 8px;
  width: 156px;
  height: 188px;
  background-image: url('../img/credit.svg');
}

.services-slider-item h3 {
  margin: 0;
  margin-bottom: 40px;
  font-family: var(--second-font);
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.services-slider-item p {
  margin: 0;
  max-width: 500px;
  line-height: 28px;
  letter-spacing: 0.1em;
}

/* Brands */

.brands {
  margin-bottom: 83px;
}

.brands-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.brands-item-link{
  filter: grayscale(1) opacity(0.3);
}

.brands-item-link:hover,
.brands-item-link:focus {
  filter: grayscale(0) opacity(1);
}

/* Index-columns */

.index-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  margin-bottom: 77px;
}

.index-columns-button {
  padding-left: 0;
  padding-right: 0;
  min-width: 260px;
  text-align: center;
}

/* About */

.about {
  position: relative;
  padding-top: 57px;
  grid-area: 1 / 1;
}

.about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
}

.about h2 {
  margin: 0;
  margin-bottom: 41px;
  font-family: var(--second-font);
  font-size: 47px;
  font-weight: 800;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.about p {
  max-width: 473px;
  margin: 0;
  margin-bottom: 39px;
  line-height: 28px;
}

.delivery-list {
  margin: 0;
  margin-bottom: 70px;
  padding-top: 20px;
  padding-left: 0;
  list-style: none;
}

.delivery-list-item {
  position: relative;
  margin-bottom: 15px;
  padding-left: 32px;
  font-family: var(--second-font);
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
}

.delivery-list-item::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 2px solid var(--basic-gray);
  background-color: transparent;

}

/* Contacts */

.contacts {
  position: relative;
  padding-top: 57px;
  grid-area: 1 / 2;
}

.contacts::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
}

.contacts h2 {
  margin: 0;
  margin-bottom: 40px;
  font-family: var(--second-font);
  font-size: 47px;
  font-weight: 800;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.contacts p {
  margin: 0;
  margin-bottom: 40px;
  line-height: 28px;
}

.contacts img {
  margin-bottom: 68px;
}

/* Footer */

.main-footer {
  color: var(--basic-white);
  background-color: var(--footer-color);
}

.footer-wrapper {
  display: grid;
  grid-template-rows: repeat(3, auto);
  padding-top: 43px;
  padding-bottom: 64px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 34px;
}

.footer-logo {
  position: relative;
  top: 21px;
}

.footer-site-wrapper a {
  color: var(--basic-white);
  opacity: 0.7;
}

.footer-site-wrapper .user-nav {
  margin-right: 42px;
}

.footer-site-wrapper .user-icon::before {
  background-image: url('../img/user-icon-yellow.svg');
}

.footer-site-wrapper .site-actions-item-compare::before {
  background-image: url('../img/compare-icon-yellow.svg');
}

.footer-site-wrapper .site-actions-item-cart::before {
  background-image: url('../img/cart-icon-yellow.svg');
}

.footer-middle {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}

.footer-bottom {
  position: relative;
  display: flex;
}

.footer-bottom::before {
  content: "";
  position: relative;
  display: block;
  top: 13px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: var(--special-color);
}

.socials-list {
  display: flex;
  margin: 0;
  margin-left: 432px;
  padding: 0;
  list-style: none;
}

.socials-item:not(:last-child) {
  margin-right: 20px;
}


.socials-item-link {
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
  opacity: 0.6;
}

.socials-item-link:hover,
.socials-item-link:focus {
  opacity: 0.3;
}

.socials-item-link:active {
  opacity: 0.1;
}

.socials-item-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
}

.socials-item-link-facebook::before {
  background-image: url('../img/facebook.svg');
}

.socials-item-link-instagram::before {
  background-image: url('../img/instagram.svg');
}

.socials-item-link-twitter::before {
  background-image: url('../img/twitter.svg');
}

.footer-copyright {
  margin-left:  auto;
}

.footer-site-wrapper {
  display: flex;
}

.footer-user-nav,
.footer-site-actions,
.footer-site-nav{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-user-nav {
  margin-right: 43px;
}

.footer-site-actions-item {
  margin-right: 40px;
}

.footer-site-actions-item:last-child {
  margin-right: 0;
}

.footer-site-actions-item a {
  position: relative;
  padding-left: 24px;
}

.footer-site-nav {
  margin-left: 165px;
}

.footer-site-nav-item {
  margin-right: 33px;
}

.footer-phone {
  margin-left: auto;
  color: var(--basic-white);
}

.footer-site-nav-item:last-child {
  margin-right: 0;
}

.footer-user-nav a,
.footer-site-actions a {
  color: var(--basic-white-light);
}

.footer-user-nav a:hover,
.footer-user-nav a:focus,
.footer-site-actions a:hover,
.footer-site-actions a:focus {
  color: var(--basic-white);
}

.footer-site-actions a:active,
.footer-site-actions a:active {
  color: var(--basic-white-dark);
}

.footer-site-nav a,
.socials-list a {
  color: var(--basic-white);
}

.footer-site-nav a:hover,
.footer-site-nav a:focus,
.socials-list a:hover,
.socials-list a:focus {
  color: var(--basic-white-light);
}

.footer-site-nav a:active,
.socials-list a:active {
  color: var(--basic-white-dark);
}

.footer-site-nav a {
  font-family: var(--second-font);
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  right: 0;
  left: 0;
  transform: translateY(-50%);
  margin: auto;
  z-index: 1;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 55px;
  height: 55px;
  background-color: var(--special-color);
  border: none;
  border-radius: 50%;
  opacity: 0.6;
  cursor: pointer;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

.modal-close::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 18px;
  width: 30px;
  height: 30px;
  background-image: url('../img/cross-icon.svg');
  background-repeat: no-repeat;
}

.modal-feedback {
  width: 960px;
  padding: 92px 100px 69px;
  background-color: var(--basic-white);
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
}

.feedback-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feedback-form-item {
  width: 360px;
  margin-bottom: 32px;
}

.feedback-form-label {
  display: block;
  margin-bottom: 10px;
  font-family: var(--second-font);
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
}

.feedback-form-input {
  width: 100%;
  min-height: 50px;
  padding-left: 20px;
  font: inherit;
  background-color: var(--feedback-input);
  border: 2px solid var(--feedback-input);
}

.feedback-form-input:hover {
  background-color: var(--basic-gray-dark);
  border: 2px solid var(--basic-gray-dark);
}

.feedback-form-input:focus {
  background-color: transparent;
  border: 2px solid var(--special-color);
  outline: none;
}

.feedback-form-input:invalid {
  background-color: var(--invalid);
  border: 1px solid var(--invalid);
}

.feedback-form-text {
  width: 100%;
  min-height: 167px;
  margin-bottom: 54px;
  resize: none;
}

.feedback-form-submit {
  padding-left: 0;
  padding-right: 0;
  min-width: 200px;
}


/* CATALOG */


.main-title-wrapper {
  padding-top: 44px;
  padding-left: 60px;
}

.main-title {
  margin: 0;
  margin-bottom: 28px;
  font-family: var(--second-font);
  font-size: 47px;
  font-weight: 800;
  line-height: 1.2;
}

/* breadcrumbs */

.breadcrumbs {
  display: flex;
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
  list-style: none;
}

.breadcrumbs-item:not(:last-child) {
  position: relative;
  margin-right: 40px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 12px;
  right: -30px;
  width: 12px;
  height: 12px;
  background-image: url('../img/arrow-icon.svg');
  background-repeat: no-repeat;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 1.2;
  color: var(--basic-black);
  opacity: 0.3;
}

.breadcrumbs a[href]:hover,
.breadcrumbs a[href]:focus {
  opacity: 0.6;
}

.breadcrumbs a[href]:active {
  opacity: 0.1;
}

/* Filters */

.filters {
  background-color: var(--basic-gray);
}

.filter-title-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 70px;
  padding-left: 60px;
  background-color: var(--basic-gray-dark);
}

.filter-title {
  margin: 0;
  font-family: var(--second-font);
  font-size: 16px;
  font-weight: 800;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.filter-form-wrapper {
  position: relative;
  height: calc(100% - 70px);
  padding-top: 70px;
  padding-left: 60px;
}

.filter-title-wrapper::before,
.filter-form-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: -9999px;
  width: 9999px;
  height: 100%;
}

.filter-title-wrapper::before {
  background-color: var(--basic-gray-dark);
}

.filter-form-wrapper::before {
  background-color: var(--basic-gray);
}

.filter-form {
  position: relative;
  width: 200px;
}

.filter-group {
  position: relative;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  padding-top: 16px;
  border: none;
}

.filter-legend {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 17px;
  padding: 0;
  padding-top: 16px;
  font-family: var(--second-font);
  font-size: 14px;
  font-weight: 800;
  line-height: 17px;
  letter-spacing: 0.1em;
}

.filter-legend::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--basic-black);
}

.filter-range-line {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  padding-top: 7px;
}

.filter-range-line::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--basic-black);
  opacity: 0.2;
}

.filter-range-line::after {
  content: "";
  position: absolute;
  left: 0;
  width: 60%;
  height: 2px;
  background-color: var(--special-green);
}

.filter-range-button {
  position: absolute;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background-color: var(--basic-white);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.18);
  cursor: pointer;
  z-index: 1;
}

.filter-range-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--basic-black);
  opacity: 0.2;
  transform: translate(-50%, -50%);
}

.filter-range-button-max {
  margin-left: 114px;
}

.filter-range-list {
  display: flex;
}

.filter-range-item {
  display: flex;
  flex-wrap: wrap;
  margin-right: 5px;
}

.filter-range-label {
  margin-right: 5px;
}

.filter-range-input {
  min-width: 20px;
  max-width: 70px;
  border: none;
  font: inherit;
  background-color: transparent;
}

.filter-range-list,
.filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-list-item:not(:last-child) {
  margin-bottom: 11px;
}

.checkbox-indicator {
  position: relative;
  padding-left: 42px;
  cursor: pointer;
}

.checkbox-indicator::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background-image: url('../img/checkbox.svg');
  background-repeat: no-repeat;
}

.filter-bluetooth {
  margin-bottom: 36px;
}

.filter-color-list,
.filter-bluetooth-list {
  margin-top: -7px;
  margin-bottom: 7px;
}

.filter-checkbox-input:checked + .checkbox-indicator::before {
  background-image: url('../img/checkbox-on.svg');
}

.filter-checkbox-input:disabled + .checkbox-indicator {
  opacity: 0.25;
  cursor: auto;
}

.radio-indicator {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}

.radio-indicator::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background-image: url('../img/radio.svg');
  background-repeat: no-repeat;
}

.filter-radio-input:checked + .radio-indicator::before {
  background-image: url('../img/radio-on.svg');
}

.filter-radio-input:disabled + .radio-indicator {
  opacity: 0.25;
  cursor: auto;
}

.filter-form-submit {
  width: 100%;
}

/* Catalog */

.catalog {
  display: grid;
  grid-template-areas:
    "filter sort"
    "filter catalog"
    "filter pagination";
  grid-template-columns: 328px 2fr;
  grid-template-rows: auto 1fr auto;
}

.catalog-wrapper {
  overflow-x: hidden;
}

.filters {
  grid-area: filter;
}

.catalog-list {
  display: grid;
  grid-area: catalog;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  margin: 0;
  margin-bottom: 31px;
  padding: 0;
  padding-left: 72px;
  list-style: none;
}

.catalog-item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 9px;
}

.catalog-item-new::before {
  content: "new";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 29px;
  right: 27px;
  width: 62px;
  height: 62px;
  border: 2px solid var(--basic-black-light);
  border-radius: 50%;
  font-family: var(--second-font);
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: var(--basic-black-light);
}


.catalog-item img {
  order: -1;
  margin-bottom: 30px;
}

.catalog-item-description {
  display: flex;
  justify-content: space-between;
  margin: 0;
  font-family: var(--second-font);
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.catalog-item-description a {
  max-width: 270px;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  word-wrap: normal;
  color: var(--basic-black);
}

.catalog-item-description span {
  line-height: 26px;
}

.catalog-item-actions {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 380px;
  padding-top: 36px;
}

.catalog-item-actions::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--basic-white-light);
}

.catalog-item-actions .button {
  margin-bottom: 11px;
}

.catalog-item:hover > .catalog-item-actions {
  display: flex;
}

.catalog-item-compare {
  border: none;
  font: inherit;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  background-color: transparent;
  opacity: 0.5;
  cursor: pointer;
}

.catalog-item-compare:hover,
.catalog-item-compare:focus {
  opacity: 1;
}

.catalog-item-compare:active {
  opacity: 0.2;
}

/* Sort */

.sort {
  position: relative;
  display: flex;
  align-items: center;
  grid-area: sort;
  min-height: 70px;
  margin-bottom: 69px;
  padding-left: 72px;
  background-color: var(--basic-gray);
}

.sort::after {
  content: "";
  position: absolute;
  top: 0;
  right: -9999px;
  width: 9999px;
  height: 100%;
  z-index: -1;
  background-color: var(--basic-gray);
}

.sort h3 {
  font-family: var(--second-font);
  font-size: 16px;
  font-weight: 800;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.sort-list,
.sort-type {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort-type {
  margin-left: auto;
}

.sort-list {
  margin-left: 74px;
}

.sort-list-item:not(:last-child) {
  margin-right: 32px;
}

.sort-list-link,
.sort-type-link {
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
  opacity: 0.3;
}

.sort-list-link:hover,
.sort-list-link:focus,
.sort-type-link:hover,
.sort-type-link:focus {
  opacity: 0.6;
}

.sort-list-link:active,
.sort-type-link:active {
  opacity: 1;
}

.sort-list-link-active,
.sort-type-link-active {
  opacity: 1;
}

.sort-type-item:not(:last-child) {
  margin-right: 16px;
}

.sort-type-link {
  display: block;
  width: 18px;
  height: 18px;
  background-image: url('../img/triangle.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.sort-type-link-asc {
  transform: rotate(180deg);
}

/* Pagination */

.pagination {
  grid-area: pagination;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-left: 72px;
  margin-bottom: 78px;
  padding: 0;
  list-style: none;
  background-color: var(--basic-gray);
}

.pagination-item:not(:nth-child(1)):not(:nth-child(4)):not(:nth-child(5)) {
  margin-right: 30px;
}


.pagination-item-prev {
  margin-right: auto;
}

.pagination-item-next {
  margin-left: auto;
}

.pagination-button,
.pagination-link {
  font-family: var(--second-font);
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--basic-black);
}

.pagination-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 120px;
  min-height: 70px;
}

.pagination-button:hover,
.pagination-button:focus {
  background-color: var(--pagination-button);
}

.pagination-button:active {
  background-color: var(--pagination-button);
  color: var(--basic-black-light);
}

.pagination-link {
  opacity: 0.3;
}

.pagination-link:hover,
.pagination-link:focus {
  opacity: 0.6;
}

.pagination-link:active,
.pagination-link-active {
  opacity: 1;
}

/* Animations */

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(-40%);
  }

  90% {
    transform: translateY(-55%);
  }

  100% {
    transform: translateY(-50%);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0) translateY(-50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px) translateY(-50%);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px) translateY(-50%);
  }
}
