/* Fonts */

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  src: local("gilroyextrabold"), local("Gilroy Extra Bold"),
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  src: local("gilroylight"), local("Gilroy Light"),
    url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'),
    url("../fonts/opensanslight.woff2") format('woff2'),
    url("../fonts/opensanslight.woff") format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Light'), local('OpenSans-Light'),
    url("../fonts/opensans.woff2") format('woff2'),
    url("../fonts/opensans.woff") format('woff');
  font-display: swap;
}

/* Varibles */

:root {

  /* Colors */
  --basic-black: #000000;
  --basic-black-light: rgba(0, 0, 0, 0.3);
  --basic-white: #ffffff;
  --basic-white-light: rgba(255, 255, 255, 0.7);
  --basic-white-dark: rgba(255, 255, 255, 0.3);
  --basic-gray: #e5e5e5;
  --basic-gray-dark: #dcdcdc;
  --card-overlay: rgba(238, 238, 238, 0.7);
  --main-color: #f7e296;
  --special-color: #f0c52e;
  --special-green: #91c92f;
  --footer-color: #363636;

  /* Fonts */
  --main-font: "Open Sans", Arial, Helvetica, sans-serif;
  --second-font: "Gilroy", Arial, Helvetica, sans-serif;
}

/* Global */

body {
  min-width: 1240px;
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  color: var(--basic-black);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: none;
  overflow: hidden;
}

.button {
  font-family: var(--second-font);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
  cursor: pointer;
}

.button:active {
  color: var(--basic-black-light);
}

.button-active {
  color: var(--main-color);
}

/* Main-navigation */

.main-navigation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  background-color: var(--main-color);
}

.logo-wrapper {
  grid-area: 1 / 1 / 2 / 3;
}

.main-navigation-search {
  grid-area: 2 / 1 / 3 / 2;
}

.site-wrapper {
  grid-area: 2 / 2 / 3 / 3;
}

.catalog-menu {
  grid-area: 3 / 1 / 4 / 2;
}

.catalog-nav {
  grid-area: 4 / 1 / 5 / 2;
}

.site-nav {
  grid-area: 3 / 2 / 4 / 3;
}

.user-nav,
.site-actions,
.catalog-nav,
.site-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-menu,
.site-nav a {
  font-family: var(--second-font);
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.2;
  color: var(--basic-black);
}

.user-nav a,
.site-actions a,
.catalog-nav a {
  color: var(--basic-black);
}


/* Какой-то очень сложный блок, мне так не нравится) */
.catalog-menu:hover,
.catalog-menu:focus,
.site-nav a:hover,
.site-nav a:focus,
.user-nav a:hover,
.user-nav a:focus,
.site-actions a:hover,
.site-actions a:focus,
.catalog-nav a:hover,
.catalog-nav a:focus {
  opacity: 0.6;
}

.catalog-menu:active,
.site-nav a:active,
.user-nav a:active,
.site-actions a:active,
.catalog-nav a:active {
  opacity: 0.3;
}

/* Promo */

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "photo title"
    "photo text"
    "photo button"
    "photo stats"
  ;
}

.slider-image {
  grid-area: photo;
}

.slider-item-tagline {
  font-family: var(--second-font);
  font-size: 47px;
  font-weight: 800;
  line-height: 1.2;
}

.slider-item-param {
  font-family: var(--second-font);
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
}

.slider-item-param-header {
  font-size: 13px;
  line-height: 15px;
}

/* Categories */

.categories-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.categories-list a {
  font-family: var(--second-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

.categories-list a:active {
  color: var(--basic-black-light);
}

/* Services */

.services-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.services-control {
  grid-area: 1 / 1;
}

.services-slider {
  grid-area: 1 / 2;
}

.services-control,
.services-slider {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-control a:active {
  color: var(--main-color);
}

.services-slider-item h3 {
  font-family: var(--second-font);
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.services-slider-item p {
  line-height: 28px;
}

/* Brands */

.brands-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Index-columns */

.index-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* About */

.about {
  grid-area: 1 / 1;
}

.about h2 {
  font-family: var(--second-font);
  font-size: 47px;
  font-weight: 800;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.about p {
  line-height: 28px;
}

.delivery-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.delivery-list-item {
  font-family: var(--second-font);
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
}

/* Contacts */

.contacts {
  grid-area: 1 / 2;
}

.contacts h2 {
  font-family: var(--second-font);
  font-size: 47px;
  font-weight: 800;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.contacts p {
  line-height: 28px;
}

/* Footer */

.main-footer {
  color: var(--basic-white);
  background-color: var(--footer-color);
}

.footer-wrapper {
  display: grid;
  grid-template-rows: repeat(3, auto);
}

.footer-user-nav,
.footer-site-actions,
.footer-site-nav,
.socials-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-user-nav a,
.footer-site-actions a {
  color: var(--basic-white-light);
}

.footer-user-nav a:hover,
.footer-user-nav a:focus,
.footer-site-actions a:hover,
.footer-site-actions a:focus {
  color: var(--basic-white);
}

.footer-site-actions a:active,
.footer-site-actions a:active {
  color: var(--basic-white-dark);
}

.footer-site-nav a,
.socials-list a {
  color: var(--basic-white);
}

.footer-site-nav a:hover,
.footer-site-nav a:focus,
.socials-list a:hover,
.socials-list a:focus {
  color: var(--basic-white-light);
}

.footer-site-nav a:active,
.socials-list a:active {
  color: var(--basic-white-dark);
}

.footer-site-nav a {
  font-family: var(--second-font);
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
}


/* CATALOG */


.main-title {
  font-family: var(--second-font);
  font-size: 47px;
  font-weight: 800;
  line-height: 1.2;
}

/* breadcrumbs */

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 1.2;
  color: var(--basic-black);
  opacity: 0.3;
}

.breadcrumbs a[href]:hover,
.breadcrumbs a[href]:focus {
  opacity: 0.6;
}

.breadcrumbs a[href]:active {
  opacity: 0.1;
}

/* Filters */

.filters {
  background-color: var(--basic-gray);
}

.filters h2 {
  font-family: var(--second-font);
  font-size: 16px;
  font-weight: 800;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/* Catalog */

.catalog {
  display: grid;
  grid-template-areas:
    "filter sort"
    "filter catalog"
    "filter pagination";
  grid-template-columns: 320px 2fr;
  grid-template-rows: 80px 1fr auto;
}

.filters {
  grid-area: filter;
}

.catalog-list {
  display: grid;
  grid-area: catalog;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-item-description {
  font-family: var(--second-font);
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.catalog-item-description a {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-black);
}

.catalog-item-compare {
  font: inherit;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  opacity: 0.5;
}

.catalog-item-compare:hover,
.catalog-item-compare:focus {
  opacity: 1;
}

.catalog-item-compare:active {
  opacity: 0.2;
}

/* Sort */

.sort {
  grid-area: sort;
  background-color: var(--basic-gray);
}

.sort h3 {
  font-family: var(--second-font);
  font-size: 16px;
  font-weight: 800;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.sort-list,
.sort-type {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort-list-link,
.sort-type-link {
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
  opacity: 0.3;
}

.sort-list-link:hover,
.sort-list-link:focus,
.sort-type-link:hover,
.sort-type-link:focus {
  opacity: 0.6;
}

.sort-list-link:active,
.sort-type-link:active {
  opacity: 1;
}

.sort-list-link-active,
.sort-type-link-active {
  opacity: 1;
}

/* Pagination */

.pagination {
  grid-area: pagination;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-button,
.pagination-link {
  font-family: var(--second-font);
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--basic-black);
}

/* Временно задам цвет вне переменной */
.pagination-button:hover,
.pagination-button:focus {
  background-color: #d9d9d9;
}

.pagination-button:active {
  background-color: #d9d9d9;
  color: var(--basic-black-light);
}

.pagination-link {
  opacity: 0.3;
}

.pagination-link:hover,
.pagination-link:focus {
  opacity: 0.6;
}

.pagination-link:active,
.pagination-link-active {
  opacity: 1;
}
